<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="O_ComTool_Pro.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <O_ComTool_Pro.app>
            <setting name="cmbBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="cmbDataBitIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cmbParityBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbStopBitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbFlowCtrlIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="receEncodeAscii" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sendEncodeAscii" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkAutoLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkShowTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAutoReply" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoReplyDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chkAutoCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAppendNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkRepeatSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RepeatInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="GeneralSendData" serializeAs="String">
                <value>www.ifreehub.com</value>
            </setting>
            <setting name="LoadFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MinToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastCheckTime" serializeAs="String">
                <value>2018-11-21 23:22:00</value>
            </setting>
            <setting name="ReceBackColor1" serializeAs="String">
                <value>39, 40, 34</value>
            </setting>
            <setting name="ReceForeColor1" serializeAs="String">
                <value>248, 248, 242</value>
            </setting>
            <setting name="SendBackColor1" serializeAs="String">
                <value>39, 40, 34</value>
            </setting>
            <setting name="SendForeColor1" serializeAs="String">
                <value>248, 248, 242</value>
            </setting>
            <setting name="ReceFont1" serializeAs="String">
                <value>Consolas, 10.5pt</value>
            </setting>
            <setting name="SendFont1" serializeAs="String">
                <value>Consolas, 10.5pt</value>
            </setting>
            <setting name="QuickSendCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="QuickSendTitle" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Title1</string>
                        <string>Title2</string>
                        <string>Title3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="QuickSendData" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Data1</string>
                        <string>Data2</string>
                        <string>Data3</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SkipVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="QuitConfirm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HightLightEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrameInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="LoadFileEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CommentEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceBackColor2" serializeAs="String">
                <value>248, 248, 242</value>
            </setting>
            <setting name="ReceForeColor2" serializeAs="String">
                <value>39, 40, 34</value>
            </setting>
            <setting name="SendBackColor2" serializeAs="String">
                <value>248, 248, 242</value>
            </setting>
            <setting name="SendForeColor2" serializeAs="String">
                <value>39, 40, 34</value>
            </setting>
            <setting name="ReceFont2" serializeAs="String">
                <value>Consolas, 10.5pt</value>
            </setting>
            <setting name="SendFont2" serializeAs="String">
                <value>Consolas, 10.5pt</value>
            </setting>
            <setting name="DisplayPlan1Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendDisplayEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceSendRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chkTimeNewLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HighLightRed" serializeAs="String">
                <value>([^A-Za-z_&amp;-]((bad|wrong|incorrect|improper|invalid|unsupported|bad)( file| memory)? (descriptor|alloc(ation)?|addr(ess)?|owner(ship)?|arg(ument)?|param(eter)?|setting|length|filename)|not properly|improperly|(operation |connection |authentication |access |permission )?(denied|disallowed|not allowed|refused|problem|failed|failure|not permitted)|no [A-Za-z]+( [A-Za-z]+)? found|invalid|unsupported|not supported|seg(mentation )?fault|corruption|corrupted|corrupt|overflow|underrun|not ok|unimplemented|unsuccessfull|not implemented|permerrors?|fehlers?|errore|errors?|erreurs?|fejl|virhe|grea|erro|fel|\(ee\)|\(ni\))[^A-Za-z_-])</value>
            </setting>
            <setting name="HighLightGreen" serializeAs="String">
                <value>([^A-Za-z_&amp;-](ok|accepted|allowed|enabled|connected|erfolgreich|exitoso|successo|sucedido|successfully|successful|succeeded|success)[^A-Za-z_-])</value>
            </setting>
            <setting name="HighLightYellow" serializeAs="String">
                <value>[^A-Za-z_&amp;-](\[\-w[A-Za-z-]+\]|caught signal [0-9]+|cannot|(connection (to (remote host|[a-z0-9.]+) )?)?(closed|terminated|stopped|not responding)|exited|no more [A-Za-z] available|unexpected|(command |binary |file )?not found|(o)+ps|out of (space|memory)|low (memory|disk)|unknown|disabled|disconnected|deprecated|refused|disconnect(ion)?|advertencia|avvertimento|attention|warnings?|achtung|exclamation|alerts?|warnungs?|advarsel|pedwarn|aviso|varoitus|upozorenje|peringatan|uyari|varning|avertissement|\(ww\)|\(\?\?\)|could not|unable to)[^A-Za-z_-]</value>
            </setting>
            <setting name="HighLightBlue" serializeAs="String">
                <value>[^A-Za-z_&amp;-](debug|test)[^A-Za-z_-]</value>
            </setting>
            <setting name="HighLightMagenta" serializeAs="String">
                <value>[^0-9A-Za-z_&amp;-](localhost|([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-4])\.[0-9]+\.[0-9]+\.[0-9]+|null|none)[^0-9A-Za-z_-]</value>
            </setting>
            <setting name="HighLightCyan" serializeAs="String">
                <value>[^A-Za-z_&amp;-](last (failed )?login:|launching|checking|loading|creating|building|important|booting|starting|notice|informational|informationen|informazioni|informaction|oplysninger|informations?|info|informaction|informasi|note|\(ii\)|\(\!\!\))[^A-Za-z_-]</value>
            </setting>
            <setting name="HighLightOrange" serializeAs="String">
                <value>([0-1][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]):([0-9][0-9][0-9]-(&lt;|&gt;))</value>
            </setting>
            <setting name="Send2FileEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Send2NewLineEnable" serializeAs="String">
                <value>False</value>
            </setting>
        </O_ComTool_Pro.app>
    </userSettings>
</configuration>